<div class="max-w-md mx-auto mt-10 p-6 border rounded-2xl shadow-md">
    <form>
        <!-- Label -->
        <label for="search" class="block mb-2 text-sm font-medium text-gray-700">
            Tìm kiếm
        </label>

        <!-- Input -->
        <input type="text" name="timkiem" id="search" placeholder="Nhập từ khóa..."
            class="w-full px-4 py-2 border rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500">

        <input type="text" name="kiemtiem" id="search2" placeholder="Nhập từ khóa..."
            class="w-full px-4 py-2 border rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500">
        <!-- Button -->
        <button type="submit" class="mt-4 w-full bg-blue-500 text-white py-2 rounded-xl hover:bg-blue-600 transition">
            Tìm
        </button>
    </form>
</div>